# Composer dependencies
/vendor/

# Environment variables and configuration
.env
.env.local
/config/env/env.php

# Log files
/logs/*.log
/var/logs/*.log

# Cache and temporary files
/var/cache/*
/tmp/*

# Operating System and IDE files
.DS_Store
.idea/
.vscode/
Thumbs.db

# Build artifacts and testing
/build/
/web/build/
/public/build/
phpunit.xml
phpunit.xml.dist
codeception.yml

credentials.json